# yamllint disable rule:line-length
# yamllint disable rule:truthy
---
name: integration tests

on:
  workflow_call:

    secrets:
      OP_SERVICE_ACCOUNT_TOKEN:
        description: 1password vault services account token
        required: false

permissions:
  contents: read

jobs:

  integration-tests:
    name: gha-tools-action integration tests
    runs-on: ubuntu-latest

    env:
      OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}

    steps:
      - name: checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332      # v4.1.7

      - name: install gha-tools dependencies
        uses: ThoughtWorks-DPS/gha-tools-action/install@main
        with:
          snyk-version: 1.1291.0
          bats-version: 1.11.0
          hadolint-version: 2.12.0
          trivy-version: 0.51.1
          grype-version: 0.77.4
          cosign-version: 2.2.4
          syft-version: 1.4.1
          oras-version: 1.1.0

      - name: test gha-tools-action/install results
        shell: bash
        run: |
          set -exo pipefail
          snyk --version | grep "1.1291.0"
          bats --version | grep "1.11.0"
          hadolint --version | grep "2.12.0"
          trivy --version | grep "0.51.1"
          grype --version | grep "0.77.4"
          cosign version | grep "2.2.4"
          syft --version | grep "1.4.1"
          oras version | grep "1.1.0"

  job-container-dev-release:
    name: gha container dev release
    uses: ThoughtWorks-DPS/gha-tools-action/.github/workflows/job-container-dev-release.yaml@main
    secrets:
      OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
    with:
      path: test
      dockerfile: Dockerfile
      image: twdps/gha-tools-action
      tag: alpine-edge
      snyk-scan: true
      snyk-severity-threshold: medium
      snyk-organization: twdps
      trivy-scan: true
      grype-scan: true
      bats-test: true
      bats-run-container-name: gha-tools-action-container-build
      bats-entry-point: /bin/ash
      bats-test-path: test/gha-tools-action-container-build.bats
      opencontainer-labels: true
      before-static-analysis: test
      before-build: test
      after-build: test
