# yamllint disable rule:line-length
# yamllint disable rule:truthy
---
name: job-container development release workflow

on:
  workflow_call:

    secrets:
      OP_SERVICE_ACCOUNT_TOKEN:
        description: 1password vault services account token
        required: false

    inputs:

      working-directory:
        description: set working directory, default is ./.
        required: false
        type: string
        default: "."

      registry:
        description: dtr compatible registry
        required: false
        type: string
        default: docker.io

      opencontainer-labels:
        description: replace date and sha placeholders with current build info
        required: false
        type: string
        default: "false"

      path:
        description: path to the directory containing your Dockerfile and build context
        required: false
        type: string
        default: .

      image:
        description: name of image
        required: true
        type: string

      tag:
        description: value for tag
        required: false
        type: string
        default: dev.${GITHUB_SHA:0:7}

      tag-annotation:
        description: additional tag configuration
        required: false
        type: string
        default: ""

      extra-build-args:
        description: >
          Extra flags to pass to docker build. For examples, see
          https://docs.docker.com/engine/reference/commandline/build
        required: false
        type: string
        default: ""

      op-version:
        description: install 1password-cli version
        required: false
        type: string
        default: ""

      teller-version:
        description: install teller version
        required: false
        type: string
        default: ""

      vault-version:
        description: install vault version
        required: false
        type: string
        default: ""

      snyk-scan:
        description: perform snyk scan
        required: false
        type: string
        default: false

      snyk-version:
        description: install snyk version
        required: false
        type: string
        default: ""

      snyk-severity-threshold:
        description: snyk test reporting threshold
        required: false
        type: string
        default: low

      snyk-token:
        description: snyk api-token
        required: false
        type: string
        default: $SNYK_TOKEN

      snyk-organization:
        description: name of snyk organization
        required: false
        type: string
        default: ""

      snyk-skip-base-image:
        description: skip performing cve scan of base image
        required: false
        type: string
        default: "false"

      snyk-additional-args:
        description: additional custom command line flags
        required: false
        type: string
        default: ""

      bats-test:
        description: run bats test against container
        required: false
        type: string
        default: false

      bats-version:
        description: install bats version
        required: false
        type: string
        default: ""

      bats-run-container-name:
        description: name for running container
        required: false
        type: string
        default: container-test

      bats-entry-point:
        description: name of shell ( bash | ash | etc )
        required: false
        type: string
        default: /bin/bash

      bats-test-path:
        description: name of folder with bats tests
        required: false
        type: string
        default: test

      hadolint-version:
        description: install hadolint version
        required: false
        type: string
        default: ""

      dockerfile:
        description: name of dockerfile
        required: false
        type: string
        default: "Dockerfile"

      hadolint-additional-args:
        description: additional custom command line flags
        required: false
        type: string
        default: ""

      trivy-scan:
        description: perform trivy scan
        required: false
        type: string
        default: false

      trivy-version:
        description: install trivy version
        required: false
        type: string
        default: ""

      trivy-severity:
        description: trivy scan reporting threshold
        required: false
        type: string
        default: "LOW,MEDIUM,HIGH,CRITICAL"

      trivy-additional-args:
        description: additional custom command line flags
        required: false
        type: string
        default: ""

      grype-scan:
        description: perform grype scan
        required: false
        type: string
        default: false

      grype-version:
        description: install grype version
        required: false
        type: string
        default: ""

      grype-severity:
        description: grype scan reporting threshold
        required: false
        type: string
        default: "medium"

      grype-additional-args:
        description: additional custom command line flags
        required: false
        type: string
        default: ""

      before-static-analysis:
        description: optionally call ./.github/actions/before-static-analysis before performing static analysis
        required: false
        type: string
        default: "false"

      before-build:
        description: optionally call ./.github/actions/before-build before docker build
        required: false
        type: string
        default: "false"

      after-build:
        description: optionally call ./.github/actions/after-build after docker build
        required: false
        type: string
        default: "false"

      builder-image-version:
        description: default is latest
        type: string
        required: false
        default: "latest"

jobs:

  job-container-dev-release:
    name: job-container development release workflow
    runs-on: ubuntu-latest
    container: ${{ inputs.builder-image-version }}

    env:
      OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}

    steps:
      - name: checkout code
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29      # v4.1.6

      - name: install dev-release dependencies
        uses: ThoughtWorks-DPS/gha-tools-action/install@4baf5677df945981d15017f0ffed8acaba1c6d8f     # v0.2.1
        with:
          op-version: ${{ inputs.op-version }}
          teller-version: ${{ inputs.teller-version }}
          vault-version: ${{ inputs.vault-version }}
          snyk-version: ${{ inputs.snyk-version }}
          bats-version: ${{ inputs.bats-version }}
          hadolint-version: ${{ inputs.hadolint-version }}
          trivy-version: ${{ inputs.trivy-version }}
          grype-version: ${{ inputs.grype-version }}

      - name: run custom before-static-analysis action
        if: ${{ inputs.before-static-analysis != 'false' }}
        uses: ./.github/actions/before-static-analysis
        with:
          instance: ${{ inputs.before-static-analysis }}

      - name: hadolint dockerfile
        uses: ThoughtWorks-DPS/gha-tools-action/hadolint@4baf5677df945981d15017f0ffed8acaba1c6d8f     # v0.2.1
        with:
          working-directory: ${{ inputs.working-directory }}
          path: ${{ inputs.path }}
          dockerfile: ${{ inputs.dockerfile }}
          hadolint-additional-args: ${{ inputs.hadolint-additional-args }}

      - name: confirm registry credentials and access
        uses: ThoughtWorks-DPS/gha-tools-action/confirm-registry@4baf5677df945981d15017f0ffed8acaba1c6d8f     # v0.2.1
        with:
          registry: ${{ inputs.registry }}

      - name: run custom before-build action
        if: ${{ inputs.before-build != 'false' }}
        uses: ./.github/actions/before-build
        with:
          instance: ${{ inputs.before-build }}

      - name: set org.opencontainer creation date and version labels
        if: ${{ inputs.opencontainer-labels == 'true' }}
        uses: ThoughtWorks-DPS/gha-tools-action/set-labels@4baf5677df945981d15017f0ffed8acaba1c6d8f     # v0.2.1
        with:
          working-directory: ${{ inputs.working-directory }}
          path: ${{ inputs.path }}
          dockerfile: ${{ inputs.dockerfile }}

      - name: build gha container image
        uses: ThoughtWorks-DPS/gha-tools-action/build@4baf5677df945981d15017f0ffed8acaba1c6d8f     # v0.2.1
        with:
          working-directory: ${{ inputs.working-directory }}
          registry: ${{ inputs.registry}}
          dockerfile: ${{ inputs.dockerfile }}
          path: ${{ inputs.path }}
          image: ${{ inputs.image }}
          tag: ${{ inputs.tag-annotation }}${{ inputs.tag }}
          extra-build-args: ${{ inputs.extra-build-args }}

      - name: perform snyk cve scan
        if: ${{ inputs.snyk-scan == 'true' }}
        uses: ThoughtWorks-DPS/gha-tools-action/snyk-scan@4baf5677df945981d15017f0ffed8acaba1c6d8f     # v0.2.1
        with:
          working-directory: ${{ inputs.working-directory }}
          registry: ${{ inputs.registry}}
          dockerfile: ${{ inputs.dockerfile }}
          path: ${{ inputs.path }}
          image: ${{ inputs.image }}
          tag: ${{ inputs.tag-annotation }}${{ inputs.tag }}
          snyk-severity-threshold: ${{ inputs.snyk-severity-threshold }}
          snyk-organization: ${{ inputs.snyk-organization }}
          snyk-token: ${{ inputs.snyk-token }}
          snyk-skip-base-image: ${{ inputs.snyk-skip-base-image }}
          snyk-additional-args: ${{ inputs.snyk-additional-args }}

      - name: perform trivy image scan
        if: ${{ inputs.trivy-scan == 'true' }}
        uses: ThoughtWorks-DPS/gha-tools-action/trivy-scan@4baf5677df945981d15017f0ffed8acaba1c6d8f     # v0.2.1
        with:
          working-directory: ${{ inputs.working-directory }}
          registry: ${{ inputs.registry}}
          image: ${{ inputs.image }}
          tag: ${{ inputs.tag-annotation }}${{ inputs.tag }}
          trivy-severity: ${{ inputs.trivy-severity }}
          trivy-additional-args: ${{ inputs.trivy-additional-args }}

      - name: perform grype image scan
        if: ${{ inputs.grype-scan == 'true' }}
        uses: ThoughtWorks-DPS/gha-tools-action/grype-scan@4baf5677df945981d15017f0ffed8acaba1c6d8f     # v0.2.1
        with:
          working-directory: ${{ inputs.working-directory }}
          registry: ${{ inputs.registry}}
          image: ${{ inputs.image }}
          tag: ${{ inputs.tag-annotation }}${{ inputs.tag }}
          grype-severity: ${{ inputs.grype-severity }}
          grype-additional-args: ${{ inputs.grype-additional-args }}

      - name: run bats test against running container
        if: ${{ inputs.bats-test == 'true' }}
        uses: ThoughtWorks-DPS/gha-tools-action/bats-test@4baf5677df945981d15017f0ffed8acaba1c6d8f     # v0.2.1
        with:
          working-directory: ${{ inputs.working-directory }}
          registry: ${{ inputs.registry }}
          image: ${{ inputs.image }}
          tag: ${{ inputs.tag-annotation }}${{ inputs.tag }}
          bats-run-container-name: ${{ inputs.bats-run-container-name }}
          bats-entry-point: ${{ inputs.bats-entry-point }}
          bats-test-path: ${{ inputs.bats-test-path }}

      - name: run custom after-build action
        if: ${{ inputs.after-build != 'false' }}
        uses: ./.github/actions/after-build
        with:
          instance: ${{ inputs.after-build }}

      - name: push image to container registry
        uses: ThoughtWorks-DPS/gha-tools-action/push@4baf5677df945981d15017f0ffed8acaba1c6d8f     # v0.2.1
        with:
          working-directory: ${{ inputs.working-directory }}
          registry: ${{ inputs.registry}}
          image: ${{ inputs.image }}
          tag: ${{ inputs.tag-annotation }}${{ inputs.tag }}
